body{
    margin: 0;
    font-family: "Helvetica",sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: seashell;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid seashell;
    background-color: black;
  }
.container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}
.logo img {
    height: 60px;
    padding-left:12px;
}

header nav{
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
}
nav span {
    display: inline-block;
    padding: 20px 10px;
}
.btn-nav{
color: seashell;
font-size: 20px;
}
#mission {
  height: 700px;
  background-image: url("image/img-mission-background.jpg");
  padding-top: 65px;
  }
#mission .content{
   margin: auto;
   background-color:black;
   width:100%;
 }
h2,h3,h4{
  margin: auto;
  padding: 10px;
  color:white;
}
.main{
  width: 1200px;
  margin: auto;
  padding-top: 69px;

}
.tea img{
  height: 200px;
  margin:14px;
  display: block;
}
.tea{
  padding: 3px;
}
.tea span{
  display: block;
  padding: 3px;
  font-weight: bold;

}
.location{
  background-image: url("image/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}
.address{
  display:flex;
  flex-direction: column;
  background-color: black;
  margin: 7px 25px;
  padding: 10px;
  justify-content: center;
  flex-basis: 280px;
}
.contact {
   height: 150px;
}
footer h5{
  text-align: left;
  padding-left: 30px;
}
#featuredTea{
  height:700px;
  margin: auto;
  padding-top: 30px;
}